
<body>
    <section>
        <h7 class="titul">Imóveis disponíveis para Alugar:</h7> <br>
        <br><label for="Estado">Selecione o estado:</label>
        <select name="Estado" id="Estado">
            <option value="todos">Todos</option>
            <option value="saoPaulo">São Paulo</option>
            <option value="rioDeJaneiro">Rio de Janeiro</option>
        </select>
    </section>
    {{#each properties}}
    <section>
        <a href="/imovel/{{entity_id}}">
            <div class="stand1">
                <img src="{{baseUrl}}/public/uploads/{{files_one}}">
                <div class="information">
                <p>{{name}}</p>
                <p>Valor: R${{price}}</p>
                <p>Tipo de anuncio: {{type_property}}</p>
                <p>Estado: {{state}}</p>
                <p>{{description}}</p>
                    </div>
            </div>
        </a>
    </section>
    {{else}}
    {{/each}}
</body>
</html>
