<section>
    {{#if erros}}
    <div class="message-erro">
    {{#each erros}}
    <span class="">
        {{message}}
    </span>
    <br/>
    {{else}}
    {{/each}}
    </div>
{{/if}}
            <form class="details" action="/client/property/edit/save" method="post">
                <input type="hidden" name="id" value="{{property.entity_id}}"/>
                <span>Nome:<input type="text" name="name" value="{{property.name}}"/></span><br/>
                <span>Valor: R$<input type="text" name="price" value="{{property.price}}"/></span><br/>
                <span>Tipo de anuncio: 
                    <select name="type_property" id="">
                        <option value="aluguel">
                            Aluguel
                        </option>
                        <option value="venda">
                            Venda
                        </option>
                    </select>
                    </span><br/>
                <strong>-----LOCALIZAÇÃO-----</strong><br/>
                <span>CEP: <input type="text" name="postcode" value="{{ property.postcode }}"/></span><br/>
                <span>Rua: <input type="text" name="street" value="{{ property.street }}"/></span><br/>
                <span>Cidade: <input type="text" name="city" value="{{ property.city }}"/></span><br/>
                <span>Estado: <input type="text" name="state" value="{{ property.state }}"/></span><br/>
                <strong>-----GERAL-----</strong><br/>
                <span>N° quartos: <input type="text" name="bedrooms" value="{{ property.bedrooms }}"/></span><br/>
                <span>N° banheiros: <input type="text" name="bathrooms" value="{{ property.bathrooms }}"/></span><br/>
                <span>N° vagas garagem: <input type="text" name="parking_spaces" value="{{ property.parking_spaces }}"/></span><br/>
                <span>Metros quadrados: <input type="text" name="square_meters" value="{{ property.square_meters }}"/></span><br/>
                <span>Descrição:<input type="text" name="description" value="{{ property.description }}"/></span><br/>
                <strong>Forma de contato</strong>
                <span>Tel:  <input type="text" name="tel" value="{{ property.tel }}"/></span><br/>

                <button type="submit">
                    Enviar
                </button>
            </form>
    </section>