<section>
        <a href="/imovel/{{entity_id}}">
            <div class="stand1">
                <p>{{name}}</p>
                <p>Valor: R${{price}}/mês</p>
                <p>Tipo de anuncio: {{type_property}}</p>
                <p>Estado: {{state}}</p>
                <p>{{description}}</p>
            </div>
        </a>
    </section>