
<body>
    {{#each properties}}
    <section>
        <a href="/client/property/edit/{{entity_id}}">
            <div class="stand1">
                <img src="{{baseUrl}}/public/uploads/{{files_one}}">
                <div class="information">
                <p>{{name}}</p>
                <p>Valor: R${{price}}</p>
                <p>Tipo de anuncio: {{type_property}}</p>
                <p>Estado: {{state}}</p>
                <p>{{description}}</p>
                </div>
            </div>
        </a>
    </section>
    {{else}}
    {{/each}}
</body>
</html>